// стили сетки календаря и заголовка календаря с днями недели

.calendar {
    margin-top: 70px;
    overflow-y: auto;
    &__header {
        display: flex;
        margin-left: 70px;
        background-color: white;
        position: fixed;
        z-index: 2;
    }
    &__day-label {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 130px;
        height: 60px;
        border: none;
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(0deg, rgb(116, 116, 116) 20%, transparent 30%);
        border-image-slice: 1;
        align-items: center;
        z-index: 1;
    }
    &__body {
        display: flex;
    }
    &__week-container {
        margin-top: 60px;
        display: flex;
    }
    &__time-scale {
        width: 70px;
    }
    &__week {
        display: flex;
        // background-color: cadetblue;
    }
    &__time-slot {
        position: relative;
        border: 1px solid black;
        min-width: 130px;
        height: 60px;
    }

    .day-label__day-name {
        margin-top: 3px;
        font-size: 14px;
    }
    .day-label__day-number {
        font-size: 22px;
        margin-top: 3px;
    }
}
