@import "varible.scss";
.button {
    height: 30px;
    border-radius: 8px;
    border: 1px solid rgb(223, 217, 217);
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
}

.icon-button {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 0;
    margin: 6px;
}

.fa-chevron-right {
    z-index: -1;
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
    z-index: 2;

    &__content {
        background: white;
        padding: 16px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
    }
}
.create-event {
    display: block;

    &__close-btn {
        display: flex;
        margin-left: auto;
        margin-right: 0px;
        margin-bottom: 10px;
        border: none;
        background-color: transparent;
        font-size: 20px;
        &:hover {
            cursor: pointer;
        }
    }
    &__close-mod {
        display: block;
        transform: rotate(45deg);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.popup {
    &__content {
        position: absolute;
        background: #fff;
        padding: 8px;
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
    }
    .delete-event-btn {
        margin-left: 3px;
        border: none;
        background-color: transparent;
    }
}

.hidden {
    display: none;
}

.day-marker {
    :first-child {
        color: $color-for-change;
    }
    :last-child {
        background-color: $color-for-change;
        border-radius: 50%;
        color: white;
    }
}

//icon
.fa-chevron-left {
    color: $colore-icon-text;
}

.fa-chevron-right {
    color: $colore-icon-text;
}

.fa-clock {
    margin-top: 5px;
    margin-left: 5px;
    color: $colore-icon-text;
}
.fa-bars {
    margin-top: 3px;
    margin-left: 5px;
    color: $colore-icon-text;
}
.fa-trash {
    color: $colore-icon-text;
    margin-right: 5px;
}
