.button {
    height: 30px;
    border-radius: 8px;
    border: 1px solid rgb(223, 217, 217);
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
}

.icon-button {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 0;
    margin: 6px;
    background-color: chartreuse;
}

.fa-chevron-right {
    z-index: -1;
}
.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    &__content {
        background: rgb(182, 18, 18);
        padding: 16px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #a8a8a8be;
    // z-index: 1;
}

.popup {
    &__content {
        position: absolute;
        background: #fff;
        padding: 16px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }
}

.hidden {
    display: none;
}
