@import "varible.scss";
// стили навигации
.header {
    position: absolute;
    display: flex;
    width: 100%;
    max-width: 910px;
    padding: 20px 40px;
    margin: auto;
}

.navigation {
    display: block;

    &__today-btn {
        margin-left: 30px;
        margin-right: 30px;
        width: 80px;
        border-radius: 4px;
        padding: 0px;
        color: $colore-icon-text;
    }

    &__displayed-month {
        margin-left: 30px;
    }
}
