.page {
  height: 100vh;
  align-items: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  height: 30px;
  border-radius: 8px;
  border: 1px solid #dfd9d9;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  padding: 0;
  margin: 6px;
}

.fa-chevron-right {
  z-index: -1;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
  z-index: 2;
}
.modal__content {
  background: white;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.create-event {
  display: block;
}
.create-event__close-btn {
  display: flex;
  margin-left: auto;
  margin-right: 0px;
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
}
.create-event__close-mod {
  display: block;
  transform: rotate(45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.popup__content {
  position: absolute;
  background: #fff;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.popup .delete-event-btn {
  margin-left: 3px;
  border: none;
  background-color: transparent;
}
.popup .fa-trash {
  color: #5f5f5f;
  margin-right: 5px;
}

.hidden {
  display: none;
}

.header {
  position: absolute;
  display: flex;
  width: 100%;
  max-width: 910px;
  padding: 20px 40px;
  margin: auto;
}

.navigation {
  display: block;
}
.navigation__today-btn {
  margin-left: 30px;
  margin-right: 30px;
  width: 80px;
  border-radius: 4px;
  padding: 0px;
}
.navigation__displayed-month {
  margin-left: 30px;
}

.calendar {
  margin-top: 70px;
  overflow-y: auto;
}
.calendar__header {
  display: flex;
  margin-left: 70px;
  background-color: white;
  position: fixed;
  z-index: 2;
}
.calendar__day-label {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 130px;
  height: 60px;
  border: none;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(0deg, #747474 20%, transparent 30%);
  border-image-slice: 1;
  align-items: center;
  z-index: 1;
}
.calendar__body {
  display: flex;
}
.calendar__week-container {
  margin-top: 60px;
  display: flex;
}
.calendar__time-scale {
  width: 70px;
}
.calendar__week {
  display: flex;
}
.calendar__time-slot {
  position: relative;
  border: 1px solid black;
  min-width: 130px;
  height: 60px;
}
.calendar .day-label__day-name {
  margin-top: 3px;
  font-size: 14px;
}
.calendar .day-label__day-number {
  font-size: 22px;
  margin-top: 3px;
}

.time-slot {
  position: relative;
  width: 70px;
  height: 60px;
  border-top-width: 1px;
  border-top-style: solid;
  border-image: linear-gradient(90deg, transparent 70%, black 100%);
  border-image-slice: 1;
}
.time-slot__time {
  position: relative;
  top: -8px;
}

.create-event-btn {
  width: 100px;
  border-radius: 48px;
  border-radius: transparent;
  box-shadow: 0px 5px 3px -4px #474747;
}

input,
textarea {
  outline: none;
  border: none;
  border: 1px solid #a3a5a7;
}

.event-form {
  display: flex;
  flex-direction: column;
  border: none;
}
.event-form__field {
  margin-bottom: 60px;
}
.event-form__submit-btn {
  display: block;
  background: #2d76d4;
  width: 120px;
  height: 35px;
  border-radius: 4px;
  border: none;
  margin-left: auto;
  margin-right: 0px;
}
.event-form__title {
  font-size: 20px;
  border: none;
  border-bottom: darkblue 3px solid;
  margin-left: 40px;
}
.event-form__time {
  margin-left: 20px;
}
.event-form__description {
  border: none;
  resize: none;
  margin-left: 20px;
  width: 100%;
}
.event-form .form-description {
  display: flex;
}
.event-form .form__time {
  display: flex;
}
.event-form .fa-clock {
  margin-top: 5px;
  margin-left: 5px;
  color: #5f5f5f;
}
.event-form .fa-bars {
  margin-top: 3px;
  margin-left: 5px;
  color: #5f5f5f;
}

.event {
  color: white;
  padding: 10px;
  position: absolute;
  display: block;
  background-color: #0099ff;
  border-radius: 4px;
  z-index: 1;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
  width: 90%;
}
.event:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #5f5f5f;
}

/*# sourceMappingURL=styles.css.map */
